<template>
  <div class="">
    <!-- create button -->
    <button class="btn btn-block btn-success mb-2" @click="reroutecase('create')">Create new case</button>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" v-bind:class="[{disabled: !pagination.prev_page_url}]">
          <a class="page-link" @click="fetchprojects(pagination.prev_page_url)">Previous</a>
        </li>

        <li class="disabled page-item">
          <a href="#" class="page-link">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a>
        </li>

        <li class="page-item" v-bind:class="[{disabled: !pagination.next_page_url}]">
          <a class="page-link" @click="fetchprojects(pagination.next_page_url)">Next</a>
        </li>
      </ul>
    </nav>
    <!-- End pagination -->

    <!-- List of Cases -->
    <table class="table">
      <tr v-for="project in projects" v-bind:key="project.id">
        <td class="col">
          <p>{{ project.title }}</p>
        </td>
        <td class="col">
          <div class="btn-group">
            <button class="btn btn-primary btn-sm" @click="reroutecase('edit')">Edit</button>
            <button class="btn btn-secondary btn-sm" @click="reroutecase('archive')">Archive</button>
          </div>
        </td>
      </tr>
    </table>
    <!-- end cases -->
  </div>
</template>
<script>
  export default {
    data() {
      return {
        projects: [],
        project: {
          id: '',
          title: '',
          customer: '',
          body: '',
        },
        project_id: '',
        pagination: {}
      }
    },

    created() {
      this.fetchprojects();
    },
    methods: {
      fetchprojects(page_url) {
        let vm = this;
        page_url = page_url || '../api/cases'
        fetch(page_url)
        .then(res => res.json())
        .then(res => {
          this.projects = res.data
          vm.makePagination(res.meta, res.links);
        })
        .catch(err => console.log(err));
      },
      makePagination(meta, links) {
        let pagination = {
          current_page: meta.current_page,
          last_page: meta.last_page,
          next_page_url: links.next,
          prev_page_url: links.prev
        }

        this.pagination = pagination;
      },
      reroutecase(route) {
        newtarget = '/create';
        console.log(route);
      }
    }
  }
</script>
