<template>
  <div>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <!--  FORM TO CREATE AND EDIT TODOS  -->
          <div class="col">
            <h5>Add Todo</h5>
            <form class="mb-4" @submit.prevent="addTodo()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" v-model="todo.title" required>
              </div>
              <div class="form-group">
                <select class="form-control" v-model="todo.cat_id" required>
                  <option v-for="category in categories" :value="category.id">{{category.title}}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success btn-block">Save</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <input type="radio" id="all" v-model="selectedcat" value="all">
            <label for="all"> All</label>
            <div class="row" v-for="category in categories">
              <div class="col-8">
                <input type="radio" :id="category.title" v-model="selectedcat" :value="category.id">
                <label :for="category.title"> {{category.title}}</label>
              </div>
              <div class="col">
                <a href="#" @click="deleteCategory(category.id)">&#128465;</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!--  FORM TO CREATE AND EDIT CATEGORIES  -->
          <div class="col pt-5">
            <h5>Add category</h5>
            <form class="mb-4" @submit.prevent="addCategory()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" v-model="category.title" required>
              </div>
              <button type="submit" class="btn btn-success btn-block">Save</button>
            </form>
          </div>
        </div>
      </div>

        <!-- LIST OF TODOS  -->
        <div class="col pt-4">
          <div class="custom-control custom-checkbox custom-hover" v-for="todo in filterTodos">
            <div class="row">
              <div class="col-8">
                <input type="checkbox" class="custom-control-input" v-bind:id="todo.id" :checked="todo.done" @click="changeStatus(todo.id)">
                <label class="custom-control-label" v-bind:for="todo.id">{{todo.title}}</label>
              </div>
              <div class="col">
                <a href="#" @click="deleteTodo(todo.id)">&#128465;</a>
              </div>
              <div class="col">
                <a href="#" @click="editTodo(todo)">&#9998;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        title_color: '#aaaaaa',
        selectedcat: 'all',
        categories: [],
        todos: [],
        category: {
          id: '',
          title: ''
        },
        todo: {
          id: '',
          title: '',
          cat_id: '',
          done: ''
        },
        category_id: '',
        todo_id: '',
        pagination: {},
        edit: false
      }
    },

    created() {
      this.fetchCategories();
      this.fetchTodos();
    },
    methods: {
      fetchCategories(cat_url) {
        let vm = this;
        cat_url = cat_url || 'api/categories'
        fetch(cat_url)
        .then(res => res.json())
        .then(res => {
          this.categories = res.data
        })
        .catch(err => console.log(err));
      },
      fetchTodos(todo_url) {
        let vm = this;
        todo_url = todo_url || 'api/todos'
        fetch(todo_url)
        .then(res => res.json())
        .then(res => {
          this.todos = res.data
        })
        .catch(err => console.log(err));
      },
      deleteTodo(id) {
        if (confirm('Are you sure?')) {
          fetch(`api/todo/${id}`, {
            method: 'delete'
          })
          .then(res => res.json())
          .then(data => {
            alert('Todo deleted');
            this.fetchTodos();
          })
          .catch(err => console.log(err))
        }
      },
      deleteCategory(id) {
        if (confirm('Are you sure you want to delete this category? All Todos in the category will also be deleted')) {
          fetch(`api/category/${id}`, {
            method: 'delete'
          })
          .then(res => res.json())
          .then(data => {
            alert('Category deleted');
            this.selectedcat = 'all';
            this.fetchCategories();
            this.fetchTodos();
          })
          .catch(err => console.log(err))
        }
      },
      addTodo() {
        if (this.edit === false) {
          // add
          fetch('api/todo', {
            method: 'post',
            body: JSON.stringify(this.todo),
            headers: {
              'content-type': 'application/json'
            }
          })
          .then(res => res.json)
          .then(date => {
            this.todo.title = '';
            this.todo.cat_id = '';
            alert('Todo created');
            this.fetchTodos();
          })
          .catch(err => console.log(err))
        }else{
          // update
          fetch('api/todo', {
            method: 'put',
            body: JSON.stringify(this.todo),
            headers: {
              'content-type': 'application/json'
            }
          })
          .then(res => res.json)
          .then(date => {
            this.todo.title = '';
            this.todo.cat_id = '';
            alert('Todo updated');
            this.fetchTodos();
          })
          .catch(err => console.log(err))
        }
      },
      editTodo(todo){
        this.edit = true;
        this.todo.id = todo.id;
        this.todo.todo_id = todo.id;
        this.todo.title = todo.title;
        this.todo.cat_id = todo.cat_id;

      },
      changeStatus(id){
        fetch(`api/todo/${id}`, {
          method: 'put',
          body: JSON.stringify(id),
          headers: {
            'content-type': 'application/json'
          }
        })
        .then(res => res.json)
        .then(date => {
          // this.fetchTodos();
        })
        .catch(err => console.log(err))
      },
      addCategory() {
        if (this.edit === false) {
          // add
          fetch('api/category', {
            method: 'post',
            body: JSON.stringify(this.category),
            headers: {
              'content-type': 'application/json'
            }
          })
          .then(res => res.json)
          .then(date => {
            this.category.title = '';
            alert('Category created');
            this.fetchCategories();
          })
          .catch(err => console.log(err))
        }else{
          // update
          fetch('api/todo', {
            method: 'put',
            body: JSON.stringify(this.todo),
            headers: {
              'content-type': 'application/json'
            }
          })
          .then(res => res.json)
          .then(date => {
            this.todo.title = '';
            this.todo.cat_id = '';
            alert('Todo updated');
            this.fetchTodos();
          })
          .catch(err => console.log(err))
        }
      }
    },
    computed: {
  		filterTodos: function() {
  			var vm = this;
  			var category = vm.selectedcat;

  			if(category === "all") {
  				return vm.todos;
  			} else {
  				return vm.todos.filter(function(todo) {
  					return todo.cat_id === category;
  				});
  			}
  		}
	   }
  }
</script>
